<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>		
		<client>
			<endpoint address="http://myservice.com/moo.aspx"
			  binding="basicHttpBinding"			  
			  contract="App.ICustomerCreditService"
			  name="App.ICustomerCreditService" />
		</client>
		<bindings>
			<basicHttpBinding  />
		</bindings>
		
	</system.serviceModel>
</configuration>